.alert {
  border: 1px solid #e8e8e8;
  padding: 20px 20px 44px 20px;
  text-align: center;

  p {
    font-weight: bold;
    font-size: 18px;
    color: #222831;
  }
  .p__2 {
    padding: 20px 0px;
    color: #393e46;
    font-size: 16px;
  }
}
