.more_motorcycles_wrapper {
  padding: 60px 0;
  background-color: #ebeeef;
}

.react-multiple-carousel__arrow--right {
  right: calc(0% + 6px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 10px) !important;
}
