.footer {
  padding: 30px 0px;
  background-color: #ebeeef;
  color: #002f34;
}
.footer h2 {
  font-weight: bold;
}
.footer-items li {
  line-height: 6px;
  margin: 15px 0px;
}
.footer-items li a {
  color: #002f34;
  text-decoration: none;
}
.socialIcon svg {
  fill: #002f34;
  width: 30px;
}
.store {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .appStore {
    width: 100%;
    height: 40px;
    margin-top: 15px;
  }
  .playStore {
    width: 100%;
    height: 40px;
    margin-top: 15px;
  }
}
